body { background: #d6663d; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 10px; display: flex; }
.block-product-0 { color: #890d7e; font-size: 12px; margin-bottom: 5px; }
.block-helper-1 { color: #5a2c43; font-size: 20px; margin-bottom: 5px; }
.block-search-2 { color: #24bec7; font-size: 12px; margin-bottom: 5px; }
.block-helper-3 { color: #d74448; font-size: 12px; margin-bottom: 5px; }
.block-router-4 { color: #383aed; font-size: 17px; margin-bottom: 5px; }
.block-search-5 { color: #b75f38; font-size: 13px; margin-bottom: 5px; }
.block-cache-6 { color: #c297a; font-size: 20px; margin-bottom: 5px; }
.block-sms-7 { color: #6806fc; font-size: 21px; margin-bottom: 5px; }
.block-metrics-8 { color: #3e9b6a; font-size: 17px; margin-bottom: 5px; }
.block-router-9 { color: #d1970a; font-size: 13px; margin-bottom: 5px; }
.block-cache-10 { color: #43d84; font-size: 17px; margin-bottom: 5px; }